<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="icon" href="/img/icon.jpeg">

    <link rel="stylesheet" href="css/style.css"></head>

</head>

<body>

    <div class="main-content">

        {{>header}}
    <p>{{name}}</p>
    <img src="/img/photograph.jpg" alt="my image">
    </div>


    <div>
                {{>footer}}

    </div>


</body>
</html>